<ion-view view-title="Profile Page">
    <ion-content class="padding">
      <div class="row responsive-sm">
        <div class="col col-50 text-center">
          <div class="col"><br><br><br><br></div>
          <div class="col col-50 col-offset-25"><h3>{{vm.gnome.name}}</h3></div>
          <div class="row">
            <div class="col item item-text-wrap" style="border-color: {{gnome.hair_color}}">
              I was borned in <span class="positive">{{vm.gnome.age | born}}</span> ({{vm.gnome.age}} years)
            </div>
            <div class="col item item-text-wrap" style="border-color: {{gnome.hair_color}}">
              My hair is <strong style="color: {{vm.gnome.hair_color | lowercase}}">{{vm.gnome.hair_color | lowercase}}</strong>
            </div>
          </div>
          <div class="row">
            <div class="col item item-text-wrap" style="border-color: {{gnome.hair_color}}">
              I am <span class="calm">{{vm.gnome.height | round}}</span> centimeters tall
              </div>
            <div class="col item item-text-wrap" style="border-color: {{gnome.hair_color}}">
              I weight over <span class="calm">{{vm.gnome.weight | round}}</span> kgs
              </div>
          </div>
        </div>
        <div class="col col-10"></div>
        <div class="col">
          <img style="width:100%; height: auto; max-height: 400px; border-radius: 43%;" 
            alt="{{vm.gnome.name}} image profile"
            src="{{vm.gnome.thumbnail}}">
        </div>
      </div>
      <div class="text-center">
        <div class="row responsive-sm">
          <div class="col">
            <div class="list list-inset">
                <div class="col"><h4>My professions <span class="balanced">({{vm.gnome.professions.length}})</span></h4></div>
                <a class="item item-icon-left" ng-repeat="profession in vm.gnome.professions">
                  <i class="icon ion-ios-briefcase"></i>
                  {{profession}}
                </a>
            </div>
          </div>
          <div class="col">
            <div class="list list-inset">
                <div class="col"><h4>My friends <span class="energized">({{vm.gnome.friends.length}})</span></h4></div>
                <a class="item item-icon-right" ng-repeat="friend in vm.gnome.friends" href="#">
                  <i class="icon ion-person"></i>
                  {{friend}}
                </a>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
</ion-view>