<ion-view view-title="Home">
  <ion-content class="padding text-center">
    <div>
      <h2>Wellcome to Brastlewark's Folk App</h2>
      <p>Here you can see all inhabitants profiles around the city. Next are some features of this marvelous application.<p>
    </div>
    <div class="list card">
      <div class="item item-divider calm">Find any people by name!</div>
      <div class="item item-body">
        <div>
          Go to Gnomes tab and be a little bit <strong>busybody</strong>
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider energized">Check professions of your neighbours</div>
      <div class="item item-body">
        <div>
          Time to know why your <strong>hated</strong> neighbour has better car than you!
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider balanced">Find data of the gnome you like</div>
      <div class="item item-body">
        <div>
          <strong>Take advantage</strong> of this app and look the gnome you like and go for her/him!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
