<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-dark">

  <!-- Home Tab -->
  <ion-tab title="Home" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <!-- Gnomes Tab -->
  <ion-tab title="Gnomes" icon-off="ion-happy" icon-on="ion-happy-outline" href="#/tab/gnomes">
    <ion-nav-view name="tab-gnomes"></ion-nav-view>
  </ion-tab>

</ion-tabs>
